<a href="https://colab.research.google.com/github/uultraviolettt/DS-fundamental/blob/main/Python_Lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python and algorithms

##### Сomplete this part of test without using any libs (your code must not contain keyword 'import') 
> **Important note:** Before submission make sure that you **didn't add or delete any notebook cells**. Otherwise your work may not be accepted by the validator!



```
# Выбран кодовый формат

```
# Выбран кодовый формат
```


```

#### 1. Implement function str_to_dict(some_str) which returnes dictionary, where keys are string characters, and values are their quantity in the string

<div style="text-align: right">1 point</div>

In [ ]:
def str_to_dict(some_str):  
    """
    :param some_str: str
    :return: dict
    """
    # YOUR CODE HERE
    result = list(some_str)
    dict_res = dict((x, result.count(x)) for x in set(result) if result.count(x) >= 1)

    return dict_res

In [ ]:
print('Str to dict:', str_to_dict('dataroot_university'))

Str to dict: {'_': 1, 'v': 1, 'r': 2, 'a': 2, 'd': 1, 'n': 1, 't': 3, 'u': 1, 'e': 1, 'o': 2, 'y': 1, 's': 1, 'i': 2}

Expected Output: 
<table>
  <tr>
    <td>Str to dict:</td>
    <td> {'d': 1, 'a': 2, 't': 3, 'r': 2, 'o': 2, '_': 1, 'u': 1, 'n': 1, 'i': 2, 'v': 1, 'e': 1, 's': 1, 'y': 1} </td> 
  </tr>

#### 2. Implement function sec_smallest(numbers) which returns second smallest item in the list, without using the built-in sorting methods (your code mustn't contain such words as 'sort', 'sorted')

<div style="text-align: right">1 point

In [ ]:
def sec_smallest(numbers):
    """
    :param numbers: list[int]
    :return: int    
    """
    # YOUR CODE HERE
    numbers = [x for x in numbers if x != min(numbers)]  # deletes the min element from the list
    result = (min(numbers))

    return result

In [ ]:
print('Sec_smallest: ', sec_smallest([1, 2, -8, -8, -2, 0]))

Sec_smallest:  -2

Expected Output: 
<table>
  <tr>
    <td>Sec_smallest:</td>
    <td> -2 </td> 
  </tr>

#### 3. Implement function prime_nums(n) that returns list of numbers which  are simple and < n

<div style="text-align: right">1 point</div>

In [ ]:
def prime_nums(n):
    """
    :param n: int
    :return: list[int]
    """
    # YOUR CODE HERE
    a = range(2, n + 1)
    b, c = [], a
    while c[0] * c[0] < n:  
        firstElement = c[0]
        b += [firstElement] 
        c = [x for x in c if x % firstElement != 0]  
        res = b + c
    return res

In [ ]:
print('Prime numbers: ', prime_nums(30))

Prime numbers:  [2, 3, 5, 7, 11, 13, 17, 19, 23, 29]

Expected Output:
<table>
  <tr>
    <td>Prime numbers:</td>
    <td>[2, 3, 5, 7, 11, 13, 17, 19, 23, 29]</td>
  </tr>

#### 4. Implement function max_sum_index(tuples), which returnes index of tuple in the list with maximum sum of elements

<div style="text-align: right">1 point</div>

In [ ]:
def max_sum_index(tuples):  
    '''
    :param tuples: list[tuple]
    :return: int
    '''
    # YOUR CODE HERE

In [ ]:
print('Index: ', max_sum_index([(10, 20, 1, 2), (51, 32), (30, 25, 5)]))
print('Index: ', max_sum_index([(47, 22, 11), (23, 17)]))

Expected Output: 
<table>
  <tr>
    <td>Index:</td>
    <td> 1 </td> 
  </tr>
  <tr>
    <td>Index:</td>
    <td> 0 </td> 
  </tr>
</table>

#### 5. Implement function gcd(x, y), which returns the greatest common divisor of n and m
<div style="text-align: right">1 point</div>

In [ ]:
def gcd(x, y):   
    '''
    :params m,n: int
    :return: int
    '''
    # YOUR CODE HERE

In [ ]:
print('GCD: ', gcd(160, 180))

Expected Output: 
<table>
  <tr>
    <td>GCD:</td>
    <td> 20 </td> 
  </tr>

#### 6. Implement recursive sum of the list
<div style="text-align: right">1 point</div>

In [ ]:
def recursive_list_sum(data_list):
    """
    :param data_list: list[list]
    """
    # YOUR CODE HERE

In [ ]:
print('The sum of a list is ', recursive_list_sum([1, 2, [3, 4], [5, 6], [7, 8, 9, [10]]]))

Expected Output:
<table>
  <tr>
    <td>The sum of a list is 55</td> 
  </tr>

#### 7. Implement decorator which returns function signature and it's return value
<div style="text-align: right">1 point</div>

In [ ]:
def debug(func):
    """
    :param func: function
    """
    # YOUR CODE HERE

In [ ]:
@debug
def add(a, b):
    return a + b
    
@debug
def sub(a, b=100):
    return a - b

print(add(3, 4))
print(sub(3))
print(sub(3,4))

Expected Output:
<table>
  <tr>
    <td>add(3, 4) was called and returned 7</td>
  </tr>
  <tr>
    <td>sub(3) was called and returned -97</td>
  </tr>
  <tr>
    <td>sub(3, 4) was called and returned -1</td>
  <tr>

#### 8. Implement class Conv, that contains method to_roman(self, n), which converts decimal numbers to Roman numerals

<div style="text-align: right">2 points</div>

In [ ]:
class Conv:
    def __init__(self):
        self.val = [
            1000, 900, 500, 400,
            100, 90, 50, 40,
            10, 9, 5, 4, 1
        ]

        self.syb = [
            'M', 'CM', 'D', 'CD',
            'C', 'XC', 'L', 'XL',
            'X', 'IX', 'V', 'IV',
            'I'
        ]
        
    def to_roman(self, num):    
        """
        :param self:
        :param n: int
        :return: str    
        """
        # YOUR CODE HERE

In [ ]:
print('Converted: ', Conv().to_roman(44))

Expected Output:
<table>
  <tr>
    <td>Converted:</td>
    <td>XLIV</td> 
  </tr>

#### 9. Implement class CombinationsList, that contains method get_combinations(self, my_list), which returns all combinations of elements of given list, including empty element. Order of elements doesn't matter
<div style="text-align: right">3 points</div>

In [ ]:
class CombinationsList:
    @staticmethod
    def get_combinations(my_list):
        """
        :param self:
        :param my_list: list
        :return: list[list]
        """
        # YOUR CODE HERE

In [ ]:
print('Combinations: ', CombinationsList().get_combinations([1, 2, 'a', 5]))

Expected Output:
<table>
  <tr>
    <td>Combinations:</td>
    <td>[[], [1], [2], ['a'], [5], [1, 2], [1, 'a'], [1, 5], [2, 'a'], [2, 5], ['a', 5], [1, 2, 'a'], [1, 2, 5], [1, 'a', 5], [2, 'a', 5], [1, 2, 'a', 5]]</td> 
  </tr>

#### 10. Create base class <code>Rocket</code> and it's subclass <code>Shuttle</code>. The parent class contains methods <code>getMission()</code>, <code>addMission()</code> and <code>getName()</code>. The subclass <code>Shuttle</code> contains method <code>getDescription()</code>. Notice that we have not defined <code>getName()</code>, <code>getMission()</code>, <code>addMission()</code> in the <code>Shuttle</code> class but we are still able to access them, because the class <code>Shuttle</code> inherits them from the <code>Rocket</code> class. Use <code>super()</code> method to have ability to call those methods of the base class.
<div style="text-align: right">3 points</div>

In [ ]:
class Rocket:

    def __init__(self, name, mission):
        """
        :param name: str
        :param mission: str or list
        """
        # attributes are private to class Rocket
        self.__name = name      
        self.__mission = mission

    def getMission(self): 
        """
        : return str or list
        """
        # YOUR CODE HERE

    def addMission(self, mission): 
        # procedure method which adds a new mission. There can be one (str) or multiple (list) existing missions
        """
        : param mission: str
        """
        # YOUR CODE HERE

    def getName(self):
        """
        : return str
        """
        # YOUR CODE HERE

    
class Shuttle(Rocket):

    def __init__(self, name, mission, model):
        # call parent constructor to set name and mission  
        """
        :param name: str
        :param mission: str or list
        : param model: str
        """
        # YOUR CODE HERE

    def getDescription(self):
        return f'Name: {self.getName()}\nModel: {self.__model}\nMissions: {str(self.getMission())}'

In [ ]:
dragon = Shuttle("Crew Dragon", "Dragon 2 pad abort test", "V2")
print(dragon.getDescription(), '\n')
dragon.addMission('Dragon 2 in-flight abort test')
print(dragon.getDescription())

Expected Output: 

                Name: Crew Dragon
                Model: V2
                Missions: Dragon 2 pad abort test
                
                Name: Crew Dragon
                Model: V2
                Missions: ['Dragon 2 pad abort test', 'Dragon 2 in-flight abort test']

##### Python lab Done!

##### Make sure that you didn't add or delete any notebook cells. Otherwise your work may not be accepted by the validator!